<%- include("../header") %>

 <body>
     <%- include("../nav") %>
     <br>
     <br>
     <br>
     

     <% if(data.length > 0){ %>
        <!-- render a card component containing each items-->
        <div class="card-container">
        <% for(let val of data){ %>
            <div class="card">
                <div class="card-head">
                    <h2 class="head-title">
                        <%= val.title %>
                    </h2>

                </div>
                <div class="card-body">
                    <img class="body-image" src= <%= val.imageurl %> alt="an image">
                    <p class="body-price">$ <%= val.price %></p>
                    <p class="description"><%= val.description %></p>
                    <form class="delete" action="delete-product/<%= val.id %>" method="DELETE"> 
                        <button class="delete-button">Delete</button>

                    </form>
                    
                    <form class="edit" action="/edit-product/<%= val.id %>"> 
                        <button class="edit-button">Edit</button>

                    </form>


                </div>
        
            </div>

           
            
            


        <% } %>
    </div>

        
     <% } %>
     

 </body>
 </html>